<%- include header %>
<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <%- include left %>
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
            <ol class="breadcrumb">
                <li><a href="/home">首页</a></li>
                <li><a href="#">系统管理</a></li>
                <li class="active">角色管理</li>
            </ol>
            <div class="row">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addRole">
                    <span class="glyphicon glyphicon-plus"></span> 添加角色
                </button>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>角色名称</th>
                        <th>角色权限</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% rolelist.forEach(function(value){ %>
                    <tr>
                        <td><%= value['name'] %></td>
                        <td><%= value['auths'] %></td>
                        <td>
                            <button type="button" class="btn btn-info" onclick="window.location.href='/editRole?id=<%=value['id']%>';return false;">
                                <span class="glyphicon glyphicon-pencil"></span> 编辑
                            </button>
                            <button type="button" class="btn btn-warning" onclick="window.location.href='/delRole?id=<%=value['id']%>';return false;">
                                <span class="glyphicon glyphicon-trash"></span> 删除
                            </button>
                        </td>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-12 text-center">
                <ul class="pagination">
                    <%- include page %>
                </ul>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="addRole" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    添加角色
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" action="/addRole" method="post">
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label">角色名称</label>
                        <div class="col-sm-10">
                            <input name="name" type="text" class="form-control" placeholder="角色名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label"><input type="checkbox" id="checkAll"/>
                            权限</label>
                        <div class="col-sm-10">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="auths" value="user"> 后台用户
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="auths" value="role"> 角色管理
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="auths" value="sms"> 短信管理
                            </label>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">提交</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include footer %>
<script>
    $(function () {
        $("#checkAll").click(function () {
            $("input[name='auths']:checkbox").prop("checked", this.checked);
        });
    });
</script>